<mat-toolbar class="custom-toolbar">
    <div class="header-left">
      <span class="toolbar-title">BOOK STORE</span>
      <div class="header-search-cnt">
        <mat-icon class="search-icon" svgIcon="search-icon"></mat-icon>
        <input class="search-input" type="text" placeholder="Search for books...">
      </div>
    </div>
  
    <div class="toolbar-buttons">
      <button mat-icon-button aria-label="Profile button" class="profile-button">
        <mat-icon svgIcon="profile-icon"></mat-icon>
        <span class="icon-label" routerLink="profile">Profile</span>
      </button>
      
      <button mat-icon-button aria-label="Cart button" class="cart-button">
        <mat-icon svgIcon="cart-icon"></mat-icon>
        <span class="icon-label" routerLink="cart">Cart</span>
      </button>
    </div>
  </mat-toolbar>
  