.cart-outer-cnt {
    margin-top: 3%;
    height: fit-content;
    width: 50%; 
    border: 1px solid rgba(130, 130, 130, 0.644);
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    margin-bottom: 2.5%;
    padding: 10px;
    position: relative; 
    padding-bottom: 60px;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 10px; 
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end; 
    padding: 10px 0;
}

.item-divider {
    margin: 0;
    border: none;
    border-top: 1px solid rgba(130, 130, 130, 0.644);
}

.img-cnt {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start; 
}

.content img {
    height: 180px; 
    display: flex;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.booktitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: large;
    font-weight: 500;
}

.originalprice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #616161;
    text-decoration: line-through;
    font-size: 80%;
    font-weight: 100;
}

.sellingprice {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

.button1 {
    height: fit-content;
    background-color: #1976d2 !important;
    color: white !important;
    margin-left: 20px;
    border-radius: 4px; 
    padding: 5px 10px; 
}

.place-order-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #1976d2 !important;
    color: white !important;
    border-radius: 4px;
}

.count {
    display: flex;
    align-items: center;
    gap: 5px;
}

.count button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f1f1f1; 
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.count button:hover {
    background-color: #ddd; 
}

.count span {
    display: inline-block;
    width: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.buttons-container {
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1%;
}

.address-button, .order-summary-button {
    width: 48%; 
    background-color: #1976d2 !important;
    color: white !important;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.address-button:hover, .order-summary-button:hover {
    background-color: #145ca1 !important; 
}
