.cart-outer-cnt {
    margin-top: 3%;
    height: fit-content;
    width: 50%; /* Reduced width */
    border: 1px solid rgba(130, 130, 130, 0.644);
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    margin-bottom: 2.5%;
    padding: 10px;
    position: relative; /* Allows for relative positioning of the place order button */
    padding-bottom: 60px; /* Space for the button */
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns "My Cart" to the left */
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 10px; /* Adds a little left padding */
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    padding: 10px 0;
}

.item-divider {
    margin: 0;
    border: none;
    border-top: 1px solid rgba(130, 130, 130, 0.644);
}

.img-cnt {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
}

.content img {
    height: 180px; 
    display: flex;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.booktitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: large;
    font-weight: 500;
}

.originalprice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #616161;
    text-decoration: line-through;
    font-size: 80%;
    font-weight: 100;
}

.sellingprice {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

.button1 {
    height: fit-content;
    background-color:  #1976d2 !important;
    color: white !important;
    margin-left: 20px;
}

.place-order-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color:  #1976d2 !important;
    color: white !important;
    border-radius: 4px;
}

.buttons-container {
    width: 50%; /* Align width with main cart container */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1%;
}

.address-button, .order-summary-button {
    width: 48%; /* Adjusted width to fit side by side */
    background-color: #1976d2 !important;
    color: white !important;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 4px;
    text-align: center;
}
