.form-container {
  max-width: 350px; 
  margin: 40px auto; 
  padding: 20px; 
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  font-family:Arial, Helvetica, sans-serif
}

.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.tab {
  padding: 8px 15px; 
  cursor: pointer;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom: 2px solid #007BFF;
  color: #007BFF;
}

mat-form-field.full-width {
  display: block;
  width: 100%;
  margin-bottom: 25px; 
}

mat-form-field.half-width {
  display: inline-block;
  width: calc(50% - 10px); 
  margin-bottom: 25px; 
}

.side-by-side {
  display: flex;
  justify-content: space-between;
}

mat-label {
  font-size: 14px;
  color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 8px; /* Reduced padding */
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  width: 45%;
  padding: 12px;
  background: #007BFF;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button.signin {
  background: #6c757d;
}

button.signin:hover {
  background: #5a6268;
}

button.signup {
  background: #007BFF;
}

button.signup:hover {
  background: #0056b3;
}